.hero-banner
  &.container
    margin-bottom: 20px

  &__image
    width: 100%

    img
      width: 100%

  &__text
    position: relative
    width: calc(50% - 2rem)
    min-height: 250px
    margin: -140px 0 0 50%
    padding: 30px 50px
    background: var(--jb-yellow)
    color: var(--jb-white)
    box-sizing: border-box

    &--content
      margin-bottom: 30px

@media screen and (max-width: 960px)
  .hero-banner
    &__text
      margin-top: -160px

@media screen and (max-width: 860px)
  .hero-banner
    &__text
      width: 100%
      margin: 20px 0
